* {
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
}

:root {
	--topmargin_min: 16px;
	--topmargin_max: 64px;
	--topmargin_mobile: max(4vw, var(--topmargin_min));
	--topmargin: min(var(--topmargin_max), var(--topmargin_mobile));

	--bottommargin_min: 32px;
	--bottommargin_max: 64px;
	--bottommargin_mobile: max(4vw, var(--bottommargin_min));
	--bottommargin: min(var(--bottommargin_max), var(--bottommargin_mobile));

	--leftmargin_min: 40px;
	--leftmargin_max: 170px;
	--leftmargin_mobile: max(11vw, var(--leftmargin_min));
	--leftmargin: min(var(--leftmargin_max), var(--leftmargin_mobile));

	--rightmargin_min: 8px;
	--rightmargin_max: 64px;
	--rightmargin_mobile: max(4vw, var(--rightmargin_min));
	--rightmargin: min(var(--rightmargin_mobile), var(--rightmargin_max));

	--bannertop_min: 16px;
	--bannertop_max: 80px;
	--bannertop_mobile: max(8vh, var(--bannertop_min));
	--bannertop: min(var(--bannertop_max), var(--bannertop_mobile));

	--bannerleft_min: 8px;
	--bannerleft_max: 32px;
	--bannerleft_mobile: max(3vw, var(--bannerleft_min));
	--bannerleft: min(var(--bannerleft_max), var(--bannerleft_mobile));

	--bannerfontsize: min(calc(100vw * 0.16), 80px);
}

html {
	color: #fff;
	font-family: Poppins, sans-serif;
	background-color: white;
	background-image: linear-gradient(
		150deg,
		#000000,
		#545454 25%,
		#c9c9c9 50%,
		#6ce6eb 58%,
		#4bcdf9 66%,
		#141414
	);
	width: 100vw;
	overflow-x: hidden;
}

body {
	min-height: 100vh;
	min-width: 100vw;
	font-size: 18px;
	font-style: normal;
	font-weight: 200;
	font-stretch: normal;
	line-height: 1.44;
	height: 100%;
	width: 100vw;
}

#tracker {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100vw;
	min-height: 100vh;
}

#mouse-tracker {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(2px);
	z-index: 99999;
	position: "absolute";
	left: -400px;
	top: -400px;
}

a:link {
  color: white;
	text-decoration-line: none;
}

a:hover {
	color: white;
	padding-bottom: 1px;
	border-bottom: 1px solid white;
}


.studio {
}

.work {
	color: black;
	background: white;
	z-index: 1;
}

.nav {
	position: fixed;
	top: var(--topmargin);
	width: 100vw;
	display: flex;
	justify-content: center;
	z-index: 99;
}
.side-nav {
}

.side-link-container {
	position: fixed;
	top: var(--topmargin);
	right: var(--rightmargin);
	width: 0;
	z-index: 97;
}

.side-link {
	color: white;
	margin: 0;
	transform-origin: top left;
	transform: rotate(90deg);
	width: 200px;
	z-index: 97;
}

.page-indicator {
	display: flex;
	flex-direction: column;
	align-items: center;
	float: right;
	padding-right: calc(var(--rightmargin) + 9px);
	padding-top: 256px;
	z-index: 98;
}

.page-label {
	margin-bottom: 8px;
	z-index: 98;
}

.page-line {
	height: 75px;
	width: 0;
	border-right: 1px solid white;
}

.page-line-black {
	height: 75px;
	width: 0;
	border-right: 1px solid black;
}

.nav-link {
	font-size: 18px;
	margin: 0 16px;
}

.active,
.nav-link:hover {
	padding-bottom: 1px;
	border-bottom: 1px solid white;
}

.button-link {
	font-size: 18px;
	margin: 0 0px;
}
.arrow {
	float: right;
	margin: 0 0px;
	transform: scale(0.3);
	width: 18px;
	padding-top: 3px;
}

.backword-work-blur {
	background-color: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(2px);
	clip-path: url(#svgPath2);
	transform: scaleY(-1, -1);
	position: absolute;
	margin-top: 29.2vh;
	right: 0;
	z-index: 999;
}

.backword-work {
	background-image: radial-gradient(circle at 18% 20%, #000000, #545454 21%, #9f9f9f 51%, #2f2f2f 140%, #141414 179%);
	opacity: 0.2;
	clip-path: url(#svgPath3);
	transform: scaleY(-1, -1);
	position: absolute;
	margin-top: 29.2vh;
	right: 0;
	z-index: 1000;
}

.work {
	z-index: 99;
}

#studio {
	height: 361px;
	width: 1268px;
	background-color: rgba(255, 255, 255, 0.2);
	position: fixed;
	right: 0;
	top: 32%;
	backdrop-filter: blur(2px);
	clip-path: url(#svgPath);
	transform: scaleY(-1, -1);
	z-index: 95;
}

section {
	min-height: 100vh;
	width: 100vw;
	padding: var(--bannertop) 0px;
	display: flex;
	position: relative;
	flex-direction: column;
}


.banner, .banner1 {
	margin-left: var(--bannerleft);
	font-size: var(--bannerfontsize);
	line-height: 1.13;
	font-weight: 600;
	max-width: 648px;
	margin-bottom: 32px;
	float: none;
}

.box, .box1 {
	margin-left: var(--leftmargin);
	font-size: 30px;
	line-height: 1.33;
	font-weight: 600;
	max-width: 805px;
}

.btn {
	border-radius: 25px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	-webkit-backdrop-filter: blur(9px);
	backdrop-filter: blur(9px);
	background-color: rgba(255, 255, 255, 0.16);
	z-index: 1000;
}

.btn:hover {
	border: solid;
	border-width: 1px;
	border-color: white;
}

.social-media {
	position: fixed;
	bottom: var(--bottommargin);
	left: var(--leftmargin);
}

.social-media > *:first-child {
	margin-left: 0;
}

.contact {
	padding: 1px;
	position: fixed;
	bottom: var(--bottommargin);
	right: var(--rightmargin);
}

.contact > .btn {
	width: 145px;
	height: 42px;
}

.work-items {
	font-size: 30px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.33;
	letter-spacing: normal;
	color: #141414;
}

ol {
	list-style: none;
	counter-reset: my-awesome-counter;
	display: flex;
	flex-wrap: wrap;
	margin-left: var(--leftmargin);
}

ol li {
	counter-increment: my-awesome-counter;
	display: flex;
	width: 100vw;
	font-size: 30px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.33;
	letter-spacing: normal;
	color: #141414;
	margin-bottom: 40px;
	left: var(--leftmargin);
}

ol li::before {
	content: "0" counter(my-awesome-counter);
	font-size: 18px;
	line-height: 1.44;
	margin-right: 16px;
	left: var(--leftmargin);
}

#reveal {
	position: fixed;
	bottom: 0;
	left: 0;
}

.banner,
.box,
.work-items > li {
	transition-duration: 0.5s !important;
	transition-timing-function: ease-in;
	opacity: 1;
}

.offset {
	transform: translate(0px, 100px);
	opacity: 0;
	transition-duration: 0s !important;
}

.copyright {
	position: relative;
	font-size: calc(12px + .5vw);	line-height: 1.33;
	padding-left: var(--leftmargin);
	padding-top: 50px;
	color: black;
}
